@tailwind base;
@tailwind components;
@tailwind utilities;
.group:hover .group-hover\:visible {
    visibility: visible;
}

.font-dosis {
    font-family: "Dosis" !important;
}

.font-inter {
    font-family: "Inter" !important;
}

.margin-top-0 {
    margin-top: 0rem !important;
}

@font-face {
    font-family: Dosis;
    font-style: normal;
    font-weight: 800;
    src: url("../public/fonts/Dosis-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Dosis;
    font-style: normal;
    font-weight: 700;
    src: url("../public/fonts/Dosis-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: Dosis;
    font-style: normal;
    font-weight: 200;
    src: url("../public/fonts/Dosis-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: Dosis;
    font-style: normal;
    font-weight: 300;
    src: url("../public/fonts/Dosis-Light.ttf") format("truetype");
}

@font-face {
    font-family: Dosis;
    font-style: normal;
    font-weight: 500;
    src: url("../public/fonts/Dosis-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Dosis;
    font-style: normal;
    font-weight: 400;
    src: url("../public/fonts/Dosis-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Dosis;
    font-style: normal;
    font-weight: 600;
    src: url("../public/fonts/Dosis-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    src: url("../public/fonts/Oswald-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 200;
    src: url("../public/fonts/Oswald-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    src: url("../public/fonts/Oswald-Light.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    src: url("../public/fonts/Oswald-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    src: url("../public/fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    src: url("../public/fonts/Oswald-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    src: url("../public/fonts/Inter-Thin.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    src: url("../public/fonts/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    src: url("../public/fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url("../public/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src: url("../public/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src: url("../public/fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url("../public/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    src: url("../public/fonts/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    src: url("../public/fonts/Inter-Black.ttf") format("truetype");
}

@media (min-width:1024px) {}

@media (min-width:768px) {}

@media (min-width:640px) {}

*,
*::after,
*::before {
    font-family: "Oswald" !important;
}


/* =============== 
Slider
===============
*/

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.title span {
    font-size: 0.85em;
    color: var(--clr-primary-5);
    margin-right: 1rem;
    font-weight: 700;
}

.section-center {
    width: 100%;
    height: 400px;
    max-width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
    line-height: 0.7;
    background: #f3f4f6;
}

@media only screen and (min-width: 647px) and (max-width: 1100px) {
    .section-center {
        height: 500px;
    }
}

@media only screen and (max-width: 647px) {
    .section-center {
        height: 560px;
        overflow-y: auto;
    }
}

.person-img {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid var(--clr-grey-8);
    box-shadow: var(--dark-shadow);
}

article h4 {
    color: var(--clr-primary-5);
    margin-bottom: 0.25rem;
}

.title {
    margin-bottom: 0.75rem;
    color: var(--clr-grey-3);
}

.text {
    max-width: 35em;
    margin: 0 auto;
    color: var(--clr-grey-5);
}

.icon {
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--clr-primary-5);
}

.prev,
.next {
    position: absolute;
    top: 175px;
    transform: translateY(-50%);
    /* background: var(--clr-grey-5); */
    color: gray;
    width: 1.25rem;
    height: 1.25rem;
    display: grid;
    place-items: center;
    border-color: transparent;
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition);
    width: 4rem;
    height: 3rem;
    font-size: 2.5rem;
}

.prev:hover,
.next:hover {
    color: rgb(58, 58, 58);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@media (max-width: 678px) {
    .prev,
    .next {
        display: none;
    }
}

article {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--transition);
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}

#surly-badge {
    font-family: Raleway, sans-serif !important;
    font-weight: 400 !important;
    width: 108px !important;
    height: 114px !important;
    text-align: center !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    position: relative !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    box-sizing: content-box !important;
    padding: 5px 14px 0 !important;
}

#surly-badge p {
    margin: 0 !important;
}

#surly-badge.surly-badge_black-blue {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 164 150'%3E%3Cpath style='fill:none;stroke:%23fff;stroke-width:2;stroke-miterlimit:10;' d='M16.05,22.74c0-7.61,6.16-13.76,13.76-13.76 M16.05,22.74v127.15 M29.02,140.85l-12.52,8.2 M28.47,141.01 h105.78 M134.25,141.01c7.61,0,13.76-6.16,13.76-13.76 M148.01,21.03v106.22 M29.81,8.97h106.2'/%3E%3Cpath style='stroke:%233273f6;stroke-width:2;stroke-miterlimit:10;' d='M148.01,18.02V-0.02 M138.99,9h18.04'/%3E%3C/svg%3E");
    color: #fff !important;
}

#surly-badge.surly-badge_black-blue .surly-badge__header-text {
    color: #3273f6 !important;
}

#surly-badge.surly-badge_black-blue .surly-badge__header-title {
    color: #fff !important;
}

#surly-badge.surly-badge_black-blue .surly-badge__tag {
    background-color: #3273f6 !important;
    border-bottom: 1px solid #707070 !important;
}

#surly-badge.surly-badge_black-blue .surly-badge__tag-text {
    color: #fff !important;
}

#surly-badge.surly-badge_black-blue .surly-badge__tag::before {
    border-color: transparent #7f8ca5 transparent transparent !important;
}

#surly-badge.surly-badge_black-blue .surly-badge__tag::after {
    border-color: transparent transparent transparent #7f8ca5 !important;
}

#surly-badge.surly-badge_black-blue .surly-badge__footer-link {
    color: #3273f6 !important;
}

#surly-badge.surly-badge_black-blue .surly-badge__footer-title {
    color: #fff !important;
}

#surly-badge.surly-badge_black-blue .surly-badge__footer-text {
    color: #fff !important;
}

#surly-badge.surly-badge_black-gradient {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 164 150'%3E%3Cpath style='fill:none;stroke:%23fff;stroke-width:2;stroke-miterlimit:10;' d='M16.05,22.74c0-7.61,6.16-13.76,13.76-13.76 M16.05,22.74v127.15 M29.02,140.85l-12.52,8.2 M28.47,141.01 h105.78 M134.25,141.01c7.61,0,13.76-6.16,13.76-13.76 M148.01,21.03v106.22 M29.81,8.97h106.2'/%3E%3Cpath style='stroke:%23ff715e;stroke-width:2;stroke-miterlimit:10;' d='M148.01,18.02V-0.02 M138.99,9h18.04'/%3E%3C/svg%3E");
    color: #fff !important;
}

#surly-badge.surly-badge_black-gradient .surly-badge__header-text {
    color: #3273f6 !important;
    background: #ff715e !important;
    background-image: -webkit-gradient( linear, left top, right top, from(#ff715e), to(#00a8ff)) !important;
    background-image: -o-linear-gradient( left, #ff715e 0, #00a8ff 100%) !important;
    background-image: linear-gradient(90deg, #ff715e 0, #00a8ff 100%) !important;
    background-size: 100% !important;
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -moz-text-fill-color: transparent !important;
}

#surly-badge.surly-badge_black-gradient .surly-badge__header-title {
    color: #fff !important;
}

#surly-badge.surly-badge_black-gradient .surly-badge__tag {
    background: #ff715e !important;
    background: -webkit-gradient( linear, left top, right top, from(#ff715e), to(#00a8ff)) !important;
    background: -o-linear-gradient(left, #ff715e 0, #00a8ff 100%) !important;
    background: linear-gradient(90deg, #ff715e 0, #00a8ff 100%) !important;
    border-bottom: 1px solid #707070 !important;
}

#surly-badge.surly-badge_black-gradient .surly-badge__tag-text {
    color: #fff !important;
}

#surly-badge.surly-badge_black-gradient .surly-badge__tag::before {
    border-color: transparent #914339 transparent transparent !important;
}

#surly-badge.surly-badge_black-gradient .surly-badge__tag::after {
    border-color: transparent transparent transparent #3b7696 !important;
}

#surly-badge.surly-badge_black-gradient .surly-badge__footer-link {
    color: #ff715e !important;
}

#surly-badge.surly-badge_black-gradient .surly-badge__footer-title {
    color: #fff !important;
}

#surly-badge.surly-badge_black-gradient .surly-badge__footer-text {
    color: #fff !important;
}

#surly-badge.surly-badge_black-red {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 164 150'%3E%3Cpath style='fill:none;stroke:%23fff;stroke-width:2;stroke-miterlimit:10;' d='M16.05,22.74c0-7.61,6.16-13.76,13.76-13.76 M16.05,22.74v127.15 M29.02,140.85l-12.52,8.2 M28.47,141.01 h105.78 M134.25,141.01c7.61,0,13.76-6.16,13.76-13.76 M148.01,21.03v106.22 M29.81,8.97h106.2'/%3E%3Cpath style='stroke:%23ff715e;stroke-width:2;stroke-miterlimit:10;' d='M148.01,18.02V-0.02 M138.99,9h18.04'/%3E%3C/svg%3E");
    color: #fff !important;
}

#surly-badge.surly-badge_black-red .surly-badge__header-text {
    color: #ff715e !important;
}

#surly-badge.surly-badge_black-red .surly-badge__header-title {
    color: #fff !important;
}

#surly-badge.surly-badge_black-red .surly-badge__tag {
    background-color: #ff715e !important;
    border-bottom: 1px solid #707070 !important;
}

#surly-badge.surly-badge_black-red .surly-badge__tag-text {
    color: #fff !important;
}

#surly-badge.surly-badge_black-red .surly-badge__tag::before {
    border-color: transparent #914339 transparent transparent !important;
}

#surly-badge.surly-badge_black-red .surly-badge__tag::after {
    border-color: transparent transparent transparent #914339 !important;
}

#surly-badge.surly-badge_black-red .surly-badge__footer-link {
    color: #ff715e !important;
}

#surly-badge.surly-badge_black-red .surly-badge__footer-title {
    color: #fff !important;
}

#surly-badge.surly-badge_black-red .surly-badge__footer-text {
    color: #fff !important;
}

#surly-badge.surly-badge_black-white {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 164 150'%3E%3Cpath style='fill:none;stroke:%23fff;stroke-width:2;stroke-miterlimit:10;' d='M16.05,22.74c0-7.61,6.16-13.76,13.76-13.76 M16.05,22.74v127.15 M29.02,140.85l-12.52,8.2 M28.47,141.01 h105.78 M134.25,141.01c7.61,0,13.76-6.16,13.76-13.76 M148.01,21.03v106.22 M29.81,8.97h106.2'/%3E%3Cpath style='stroke:%23fff;stroke-width:2;stroke-miterlimit:10;' d='M148.01,18.02V-0.02 M138.99,9h18.04'/%3E%3C/svg%3E");
    color: #fff !important;
}

#surly-badge.surly-badge_black-white .surly-badge__header-text {
    color: #fff !important;
}

#surly-badge.surly-badge_black-white .surly-badge__header-title {
    color: #fff !important;
}

#surly-badge.surly-badge_black-white .surly-badge__tag {
    background-color: #fff !important;
    border-bottom: 1px solid #707070 !important;
}

#surly-badge.surly-badge_black-white .surly-badge__tag-text {
    color: #000 !important;
}

#surly-badge.surly-badge_black-white .surly-badge__tag::before {
    border-color: transparent #707070 transparent transparent !important;
}

#surly-badge.surly-badge_black-white .surly-badge__tag::after {
    border-color: transparent transparent transparent #707070 !important;
}

#surly-badge.surly-badge_black-white .surly-badge__footer-link {
    color: #fff !important;
}

#surly-badge.surly-badge_black-white .surly-badge__footer-title {
    color: #fff !important;
}

#surly-badge.surly-badge_black-white .surly-badge__footer-text {
    color: #fff !important;
}

#surly-badge.surly-badge_white-blue {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 164 150'%3E%3Cpath style='fill:none;stroke:%232e2e2e;stroke-width:2;stroke-miterlimit:10;' d='M16.05,22.74c0-7.61,6.16-13.76,13.76-13.76 M16.05,22.74v127.15 M29.02,140.85l-12.52,8.2 M28.47,141.01 h105.78 M134.25,141.01c7.61,0,13.76-6.16,13.76-13.76 M148.01,21.03v106.22 M29.81,8.97h106.2'/%3E%3Cpath style='stroke:%2302a7fd;stroke-width:2;stroke-miterlimit:10;' d='M148.01,18.02V-0.02 M138.99,9h18.04'/%3E%3C/svg%3E");
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-blue .surly-badge__header-text {
    color: #02a7fd !important;
}

#surly-badge.surly-badge_white-blue .surly-badge__header-title {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-blue .surly-badge__tag {
    background-color: #02a7fd !important;
    border-bottom: 1px solid #707070 !important;
}

#surly-badge.surly-badge_white-blue .surly-badge__tag-text {
    color: #fff !important;
}

#surly-badge.surly-badge_white-blue .surly-badge__tag::before {
    border-color: transparent #3b7696 transparent transparent !important;
}

#surly-badge.surly-badge_white-blue .surly-badge__tag::after {
    border-color: transparent transparent transparent #3b7696 !important;
}

#surly-badge.surly-badge_white-blue .surly-badge__footer-link {
    color: #02a7fd !important;
}

#surly-badge.surly-badge_white-blue .surly-badge__footer-title {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-blue .surly-badge__footer-text {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-gradient {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 164 150'%3E%3Cpath style='fill:none;stroke:%232e2e2e;stroke-width:2;stroke-miterlimit:10;' d='M16.05,22.74c0-7.61,6.16-13.76,13.76-13.76 M16.05,22.74v127.15 M29.02,140.85l-12.52,8.2 M28.47,141.01 h105.78 M134.25,141.01c7.61,0,13.76-6.16,13.76-13.76 M148.01,21.03v106.22 M29.81,8.97h106.2'/%3E%3Cpath style='stroke:%23ff5741;stroke-width:2;stroke-miterlimit:10;' d='M148.01,18.02V-0.02 M138.99,9h18.04'/%3E%3C/svg%3E");
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-gradient .surly-badge__header-text {
    color: #ff5741 !important;
    background: #ff715e !important;
    background-image: -webkit-gradient( linear, left top, right top, from(#ff715e), to(#00a8ff)) !important;
    background-image: -o-linear-gradient( left, #ff715e 0, #00a8ff 100%) !important;
    background-image: linear-gradient(90deg, #ff715e 0, #00a8ff 100%) !important;
    background-size: 100% !important;
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -moz-text-fill-color: transparent !important;
}

#surly-badge.surly-badge_white-gradient .surly-badge__header-title {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-gradient .surly-badge__tag {
    background: #ff715e !important;
    background: -webkit-gradient( linear, left top, right top, from(#ff715e), to(#00a8ff)) !important;
    background: -o-linear-gradient(left, #ff715e 0, #00a8ff 100%) !important;
    background: linear-gradient(90deg, #ff715e 0, #00a8ff 100%) !important;
    border-bottom: 1px solid #707070 !important;
}

#surly-badge.surly-badge_white-gradient .surly-badge__tag-text {
    color: #fff !important;
}

#surly-badge.surly-badge_white-gradient .surly-badge__tag::before {
    border-color: transparent #914339 transparent transparent !important;
}

#surly-badge.surly-badge_white-gradient .surly-badge__tag::after {
    border-color: transparent transparent transparent #3b7696 !important;
}

#surly-badge.surly-badge_white-gradient .surly-badge__footer-link {
    color: #ff5741 !important;
}

#surly-badge.surly-badge_white-gradient .surly-badge__footer-title {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-gradient .surly-badge__footer-text {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-red {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 164 150'%3E%3Cpath style='fill:none;stroke:%232e2e2e;stroke-width:2;stroke-miterlimit:10;' d='M16.05,22.74c0-7.61,6.16-13.76,13.76-13.76 M16.05,22.74v127.15 M29.02,140.85l-12.52,8.2 M28.47,141.01 h105.78 M134.25,141.01c7.61,0,13.76-6.16,13.76-13.76 M148.01,21.03v106.22 M29.81,8.97h106.2'/%3E%3Cpath style='stroke:%23ff715e;stroke-width:2;stroke-miterlimit:10;' d='M148.01,18.02V-0.02 M138.99,9h18.04'/%3E%3C/svg%3E");
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-red .surly-badge__header-text {
    color: #ff715e !important;
}

#surly-badge.surly-badge_white-red .surly-badge__header-title {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-red .surly-badge__tag {
    background-color: #ff715e !important;
    border-bottom: 1px solid #707070 !important;
}

#surly-badge.surly-badge_white-red .surly-badge__tag-text {
    color: #fff !important;
}

#surly-badge.surly-badge_white-red .surly-badge__tag::before {
    border-color: transparent #914339 transparent transparent !important;
}

#surly-badge.surly-badge_white-red .surly-badge__tag::after {
    border-color: transparent transparent transparent #914339 !important;
}

#surly-badge.surly-badge_white-red .surly-badge__footer-link {
    color: #ff715e !important;
}

#surly-badge.surly-badge_white-red .surly-badge__footer-title {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-red .surly-badge__footer-text {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-black {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 164 150'%3E%3Cpath style='fill:none;stroke:%232e2e2e;stroke-width:2;stroke-miterlimit:10;' d='M16.05,22.74c0-7.61,6.16-13.76,13.76-13.76 M16.05,22.74v127.15 M29.02,140.85l-12.52,8.2 M28.47,141.01 h105.78 M134.25,141.01c7.61,0,13.76-6.16,13.76-13.76 M148.01,21.03v106.22 M29.81,8.97h106.2'/%3E%3Cpath style='stroke:%23707070;stroke-width:2;stroke-miterlimit:10;' d='M148.01,18.02V-0.02 M138.99,9h18.04'/%3E%3C/svg%3E");
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-black .surly-badge__header-text {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-black .surly-badge__header-title {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-black .surly-badge__tag {
    background-color: #2e2e2e !important;
    border-bottom: 1px solid #707070 !important;
}

#surly-badge.surly-badge_white-black .surly-badge__tag-text {
    color: #fff !important;
}

#surly-badge.surly-badge_white-black .surly-badge__tag::before {
    border-color: transparent #707070 transparent transparent !important;
}

#surly-badge.surly-badge_white-black .surly-badge__tag::after {
    border-color: transparent transparent transparent #707070 !important;
}

#surly-badge.surly-badge_white-black .surly-badge__footer-link {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-black .surly-badge__footer-title {
    color: #2e2e2e !important;
}

#surly-badge.surly-badge_white-black .surly-badge__footer-text {
    color: #2e2e2e !important;
}

#surly-badge .surly-badge__header {
    position: relative !important;
    z-index: 10 !important;
    padding: 8px 6px 0 !important;
}

#surly-badge .surly-badge__header-title {
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    line-height: 1 !important;
    float: none !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 7px !important;
}

#surly-badge .surly-badge__header-text {
    font-size: 25px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    line-height: 22px !important;
    float: none !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 3px !important;
}

#surly-badge .surly-badge__tag {
    height: 18px !important;
    width: calc(100% + 26px) !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    position: relative !important;
    z-index: 10 !important;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
    padding: 0 2px !important;
}

#surly-badge .surly-badge__tag-text {
    font-size: 10px !important;
    font-weight: 500 !important;
    cursor: pointer !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    width: 100% !important;
    float: none !important;
    -o-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important;
    line-height: initial !important;
    text-decoration: none !important;
    padding: 0 0 !important;
}

#surly-badge .surly-badge__tag::after,
#surly-badge .surly-badge__tag::before {
    content: "" !important;
    display: block !important;
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    border-style: solid !important;
}

#surly-badge .surly-badge__tag::before {
    border-width: 0 15px 15px 0 !important;
    left: 0 !important;
    bottom: -15px !important;
}

#surly-badge .surly-badge__tag::after {
    border-width: 15px 0 0 15px !important;
    right: 0 !important;
    top: -15px !important;
}

#surly-badge .surly-badge__footer {
    position: relative !important;
    z-index: 10 !important;
    white-space: nowrap !important;
    width: 100% !important;
    padding-top: 6px !important;
}

#surly-badge .surly-badge__footer-title {
    font-family: Oswald, sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    letter-spacing: -0.5px !important;
    line-height: 1 !important;
    float: none !important;
    text-align: center !important;
    padding: 0 12px !important;
    margin: 0 !important;
    margin-bottom: 1px !important;
}

#surly-badge .surly-badge__footer-text {
    font-size: 10px !important;
    font-weight: 300 !important;
    line-height: 1 !important;
    float: none !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
}

#surly-badge .surly-badge__footer-link {
    font-size: 10px !important;
    cursor: pointer !important;
    text-decoration: underline !important;
    line-height: initial !important;
    display: inline-block !important;
    float: none !important;
}

#surly-badge .surly-badge__date {
    font-size: 13px !important;
    font-weight: 400 !important;
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
    line-height: 4 !important;
    text-align: center !important;
    float: none !important;
}

#surly-badge br {
    display: none !important;
}

.back-to-top {
    position: fixed;
    bottom: 160px;
    right: 21px;
    font-size: 25px;
    color: rgb(228 223 223);
    cursor: pointer;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    background: #363636;
    border: none;
    /* box-shadow: -1px 2px 15px 0px #7c7b7b; */
    text-align: center;
    /* padding: 7px; */
    padding-left: 6px;
}

.back-to-top:hover {
    background: rgb(255, 255, 255);
}